

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	background-color: #00730C;
color: white;
border-radius: 5px;
font-family: 'Nunito Sans', sans-serif;
font-size: 18px;
font-weight: 700;
text-transform: capitalize;
cursor: pointer;
border: none;

}